// Jobs Config Generator
// https://wix.to/NDAQn6c

{
  "jobs": [
    {
      "functionLocation": "/emailHooks.web.js",
      "functionName": "checkUserWeek",
      "description": "Checks Daiy",
      "executionConfig": {
        // "time": "00:00",
        "cronExpression": "1 * * * *"
      }
    }
  ]
}
